<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <!--server layers/viewpoints -->
    <script src="//d3js.org/d3.v3.min.js"></script>

    <script src="lib/elastic-front/elastic.js/js/core/elastic.common.js"></script>
    <script src="lib/elastic-front/elastic.js/js/core/elastic.js"></script>
    <script src="lib/elastic-front/elastic.js/js/core/elastic.layerviewpoint.js"></script>
    <script src="lib/elastic-front/elastic.js/js/layers/ConstantLayer.js"></script>
    <script src="lib/elastic-front/elastic.js/js/viewpoints/TableViewpoint.js"></script>
    <script src="lib/elastic-front/elastic.js/js/viewpoints/HistogramViewpoint.js"></script>

    <!-- our js-->
    <script src="js/viewpoints/Treemap.js"></script>

    <script src="lib/elastic-front/elastic.js/js/core/elastic.smart360io.js"></script>
    <script src="lib/elastic-front/elastic.js/js/directives/viewpoint.directive.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="MainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>

        <viewpoint config="histogramViewpoint" height="500" width="960"></viewpoint>
        <br><br>
        <button ng-click="addCostCol()">Füge Kosten hinzu</button>
        <button ng-click="removeCol()">Entferne letzte Spalte</button>
        <button ng-click="addLayer()">Neuer Constant Layer</button>
        <button ng-click="removeLayer()">Entferne Constant Layer</button>
        <br>
        <viewpoint config="tableViewpoint" height="360" width="480"></viewpoint>

      </ion-content>
    </ion-pane>
  </body>
</html>
